.unavailable-product-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 2rem;
  background: url("../img/unavailable-product-img/bg-pattern.png") center center / cover no-repeat;
  background-color: #D6E6FF; 
  background-size: cover;
  min-height: 100vh;
  width: 100%; 
  box-sizing: border-box;
}


.unavailable-product-section.women {
  background-color: #FDE2FF; 
}

.unavailable-product-card {
  grid-column: 1 / -1;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 810px;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sad-face {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-image: url("../img/unavailable-product-img/sad-face.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 1rem;
}

.unavailable-text {
  text-align: center;
  font-size: 18px;
  color: #1E1E1E;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn.next {
  background-color: #fff;
  border: 1px solid #1E1E1E;
  color: #1E1E1E;
  width: 90%;
  max-width: 400px;
  padding: 0.75rem;
  position: absolute;
  bottom: 39%;
  left: 50%;
  transform: translateX(-50%);
}

.btn.next.women {
  border: 1px solid #1E1E1E;
  color: #1E1E1E;
}

.btn:hover {
  opacity: 0.85;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .unavailable-product-section {
    padding: 1rem;
  }

  .unavailable-product-card {
    padding: 1.5rem;
    width: 90%;
    height: 450px; 
    max-width: 500px;
  }

  .unavailable-text {
    font-size: 18px;
    top: 50%;
  }

  .btn.next {
    font-size: 16px;
    bottom: 30%;
    width: 90%;
  }
}